<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

     <!-- <% if (kindOfDay === "saturday" || kindOfDay === "sunday") {   %>
        <h1 style="color: purple"> <%=kindOfDay%>! </h1>
        <% } else { %>}
        <h1 style="color: blue"> <%=kindOfDay %>! ToDo List </h1>
        <% } %>  -->
    <h1> <%= kindOfDay %> </h1>

    <form method="POST" action="/">
        <input type="text" name ="list">
        <button type="submit" name="button">add</button>
        
    </form>
    <ul>
        <% for (var i=0; i<newListItem.length; i++) { %>
            <li><%= newListItem[i] %></li>
            <% } %>

    </ul>
</body>
</html>